.container{
    width: 100%;
    min-height: 700px;
    background-image:linear-gradient(to right , #49C8C8 , #6DE1BD);
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    color: white;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    margin-left: 300px;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration: none;
    transition: 1s;
}

nav ul li a:hover{
    color: yellow;
}

.btn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 600px;
    padding: 10px 30px;
    min-width: 150px;
    color: white;
    background-color: #6BE0BE;
    border: 1px solid white;
    border-radius: 30px;
    transition: 0.4s linear;
    cursor: pointer;
    margin-right: 300px;
}

.btn:hover{
    color: #6BE0BE;
    background-color: white;
}

.content{
    display: flex;
    padding-top: 50px;
}

.heading{
    height: 400px;
    width: 400px;
    margin-left: 200px;
}

.heading h1{
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.heading p{
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(228, 228, 228);
}
.btn2{
    margin-top: 10px;
    padding: 15px 30px;
    min-width: 100px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #6BE0BE;
    background-color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 1s;
}

.btn2:hover{
    color: white;
    background-color: #49C8C8;
    border: 2px solid white;

}

.main-image img{
    height: 500px;
    width: 800px;
    margin-left: 300px; 
}

/* section2 start */
.section2{
    height: 700px;
    width: 100%;
    background-color: #F8FAFF;
}

.text{
    margin-left: 600px;
    padding-top: 150px;
    width: 700px;
}

.p1{
    color: #45C6D1;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-align: center;  
}

.text h2{
    color: rgb(63, 63, 63);
    font-size: 40px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
.p2{
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: rgb(109, 109, 109);
}

.form{
    margin-top: 50px;
    border: 1px solid #22D47B;
    border-radius: 5px;
    padding: 15px;
}

.text form{
    display: flex;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.text form input{
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 18px;
}
.text form .btn3{
    font-size: 18px;
    color: white;
    min-width: 220px;
    padding: 20px 40px;
    background-color: #22D47B;
    border: none;
    cursor: pointer;
}

.text ul{
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.text ul li{
    display: inline;
    margin: 0 20px;
}

.text ul li span{
    font-size: 18px;
    color: #45C6D1;
}
/* section2 end */

/* section3 start */
.section3{
    width: 100%;
    height: 700px;
    padding-top: 200px;
    background-color: white;
}

.text1 p{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #45C6D1;
}

.text1 h2{
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

.services{
    width: 100%;
    display: flex;
    margin-top: 100px;
    margin-left: 250px;  
}

.card1{
    height: 300px;
    width: 400px;
    margin-left: 50px;
}

.card1 img{
    height: 100px;
    padding-left: 150px;
}

.card1 .p3{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.card1 .p4{
    font-weight: 500;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: rgb(155, 155, 155);
}

.card2{
    margin-left: 50px;
    height: 300px;
    width: 400px;
}

.card2 img{
    height: 100px;
    padding-left: 150px;
}

.card2 .p5{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.card2 .p6{
    font-weight: 500;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: rgb(155, 155, 155);
}

.card3{
    margin-left: 50px;
    height: 300px;
    width: 400px;
}

.card3 img{
    height: 100px;
    padding-left: 150px;
}

.card3 .p7{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.card3 .p8{
    font-weight: 500;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: rgb(155, 155, 155);
}
/* section3 end */

/* pricing part*/
.section4{
    width: 100%;
    height: 900px;
    background-color: #F8FAFF;
    padding-top: 100px;
}

.pricing{
    display: flex;
    margin-left: 150px;
}

.text2 p{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #45C6D1;
    text-align: center;
    
}

.text2 h2{
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
}

.pricing1{
    height: 550px;
    width: 280px;
    background-color: white;
    margin-left: 100px;
    margin-top: 100px;
    transition: 0.5s;
}

.pricing1:hover{
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(223, 223, 223);
}

.btn4{
    color: white;
    background-color: #24BDC9;
    border: none;
    padding: 15px 25px;
    border-radius: 0 0 10px 10px;
    margin-left: 100px;
    cursor: pointer;
}

.pricing1 h1{
    text-align: center;
    font-size: 44px;
    font-family: "Montserrat", sans-serif;
    color: rgb(102, 102, 102);
}

.pricing1 p{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(155, 155, 155);
}

.btn5{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #24BDC9;
    background-color: #DAF6F8;
    padding: 20px 40px;
    border-radius: 30px;
    border: none;
    margin-top: 10px;
    margin-left: 45px;
    cursor: pointer;
}

.btn5:hover{
    color: white;
    background-color: #24BDC9;
}

.pricing ul{
    list-style: none;
    margin-right: 30px;
    margin-top: 25px;
}

.pricing ul li{
    text-align: center;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 10px 0 10px 0;
}

.pricing ul li span{
    color: rgb(175, 175, 175);
}

/* section5 start */

.section5{
    background: url(blog1.jpg) no-repeat center;
    background-size: cover;
    height: 700px;
    position: relative;

}

.section5::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 700px;
    width: 100%;
    background-image:linear-gradient(to right , #49C8C8 , #6DE1BD);
    opacity: 0.9;

}

.text5{
    padding-top: 150px
}
.text5 h1{
    color: white;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 44px;
    font-weight: 500;
    text-align: center;
}

.text5 p{
    color: white;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.section5 ul{
    position: relative;
    list-style: none;
    text-align: center;
}

.section5 ul li{
    display: inline-block;
    margin-top: 100px;
    padding: 0 50px 0 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.section5 ul li span{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: rgb(233, 233, 233);
}
/* section5 end */

/* section6 started */
.section6{
    width: 100%;
    height: 1000px;
    background-color: #F8FAFF;
    padding-top: 100px;
}

.text6{
    width: 700px;
    height: 200px;
    padding-left: 550px;
}
.p9{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #45C6D1;
    text-align: center;
}

.text6 h1{
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
}

.p10{
    font-weight: 500;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: rgb(155, 155, 155);
}

.row{
    width: 100%;
    margin: 150px 0 0 200px;
    display: flex;
}

.profile{
    height: 350px;
    width: 360px;
    padding: 40px 10px 10px;
    background-color: #ffffff;
    transition: 0.5s;
    margin: 0 50px 0 50px;
}

.profile:hover{
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgb(236, 236, 236);
}
.profile img{
    top: -100px;
    position: relative;
    left: calc(- 60px);
    width: 115px;
    height: 110px;
    border-radius: 50%;  
}

.profile blockquote{
    font-weight: 400;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: rgb(155, 155, 155);
    margin-top: -50px;
    margin-left: 10px;
}

.p11{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 50px 0 0 10px;
}

.p12{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0 0 10px;
    color: rgb(133, 133, 133);
}

/* section6 end */

/* section6 started */

.section7{
    width: 100%;
    height: 800px;
    background-color: white;
}

.text7{
    margin-top: 100px;
}

.text7 p{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #45C6D1;
    text-align: center;
}

.text7 h2{
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    text-align: center;
    font-weight: 500;
    color: black;
}
.btns{
    margin: 100px 0 0 700px;
}

.btn6{
    color: white;
    background-color: #22D47B;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    padding: 15px 15px;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}
.btn7{
    background-color: white;
    color: #22D47B;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    padding: 15px 15px;
    border: 1px solid #22D47B;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
}
.btn8{
    background-color: white;
    color: #22D47B;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    padding: 15px 15px;
    border: 1px solid #22D47B;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.btn8:hover{
    background-color: #22D47B;
    color: white;
}